In [3]:
import numpy as np
import pandas as pd

In [4]:
input_types = {'a': 'Int64', 
               'b': 'Int64'}
test_vector = pd.read_csv("test_vector.csv", dtype=input_types )
test_vector.head()

                      a                     b
0   5599221927511852972  -9073391711843153140
1    125843118319673708  -7029686126400350234
2  -6626586882120967886   3892734086233570300
3  -7567988178298816346  -7189453062790077394
4    592745535363237000  -4295411505309829984

In [5]:
test_vector['sum'] = test_vector['a'] + test_vector['b']
test_vector.head()

                      a                     b                   sum
0   5599221927511852972  -9073391711843153140  -3474169784331300168
1    125843118319673708  -7029686126400350234  -6903843008080676526
2  -6626586882120967886   3892734086233570300  -2733852795887397586
3  -7567988178298816346  -7189453062790077394   3689302832620657876
4    592745535363237000  -4295411505309829984  -3702665969946592984

In [8]:
input_types = {'a': 'Int64', 
               'b': 'Int64'}
results = pd.read_csv("results.csv", dtype=input_types )
results.head()

                      a                     b                  sum  carry
0   5599221927511852972  -9073391711843153140 -3474169784331300168      0
1    125843118319673708  -7029686126400350234 -6903843008080676526      0
2  -6626586882120967886   3892734086233570300 -2733852795887397586      0
3  -7567988178298816346  -7189453062790077394  3689302832620657876      1
4    592745535363237000  -4295411505309829984 -3702665969946592984      0

In [26]:
num_wrong_outputs = str(results[results['sum'] != test_vector['sum']] ['sum'].count())
print(num_wrong_outputs + ' incorrect results')
result_comparison = pd.DataFrame({'DUT': results['sum'],
                                 'Expected': test_vector['sum']})
result_comparison[results['sum'] != test_vector['sum']].head()

716 incorrect results

                    DUT              Expected
5   5381969316819484562   5381969316819484561
6  -1403190967031704508  -1403190967031704509
7   1129074143313393758   1129074143313393757
8   5475936417452447856   5475936417452447855
10  1836525061174867288   1836525061174867287