In [2]:
import numpy as np
import pandas as pd

In [30]:
input_types = {'a': 'Int64', 
               'b': 'Int64'}
test_vector = pd.read_csv("test_vector.csv", dtype=input_types )
test_vector['sum'] = test_vector['a'] + test_vector['b']
display(test_vector)

                        a                     b                   sum
0     5599221927511852972  -9073391711843153140  -3474169784331300168
1      125843118319673708  -7029686126400350234  -6903843008080676526
2    -6626586882120967886   3892734086233570300  -2733852795887397586
3    -7567988178298816346  -7189453062790077394   3689302832620657876
4      592745535363237000  -4295411505309829984  -3702665969946592984
..                    ...                   ...                   ...
995   6246496182906832627  -1714752736666615777   4531743446240216850
996    258363907008850362  -5343067923881493991  -5084704016872643629
997  -2755054595179788025    669963914226713103  -2085090680953074922
998  -3220237911566750251   1530680250441555107  -1689557661125195144
999   2618243538736035941   1441111373721703936   4059354912457739877

[1000 rows x 3 columns]

In [5]:
# Gathering the results
input_types = {'a': 'Int64', 
               'b': 'Int64'}
results = pd.read_csv("results.csv", dtype=input_types )
results.head()

                      a                     b                  sum  carry
0   5599221927511852972  -9073391711843153140 -3474169784331300168      0
1    125843118319673708  -7029686126400350234 -6903843008080676526      0
2  -6626586882120967886   3892734086233570300 -2733852795887397586      0
3  -7567988178298816346  -7189453062790077394  3689302832620657876      1
4    592745535363237000  -4295411505309829984 -3702665969946592984      0

In [33]:
# Calculating deltas
wrong_results = results[results['sum'] != test_vector['sum']]
print( str( wrong_results['sum'].count() ) + ' incorrect results out of ' + str(test_vector['sum'].count()) )
result_comparison = pd.DataFrame({'DUT': results['sum'], 'Expected': test_vector['sum']})
result_comparison['Delta'] = result_comparison['DUT'] - result_comparison['Expected']

display(wrong_results)
display(result_comparison[results['sum'] != test_vector['sum']].head())
display(result_comparison.groupby('Delta').count()['DUT'])

716 incorrect results out of 1000

                        a                     b                  sum  carry
5     6778898353225019333  -1396929036405534772  5381969316819484562      1
6      290312938777992501  -1693503905809697010 -1403190967031704508      0
7     8575157146419222516  -7446083003105828759  1129074143313393758      1
8     7805619934991066976  -2329683517538619121  5475936417452447856      1
10   -8384498550222719207  -8225720462311965122  1836525061174867288      1
..                    ...                   ...                  ...    ...
995   6246496182906832627  -1714752736666615777  4531743446240216849      1
996    258363907008850362  -5343067923881493991 -5084704016872643628      0
997  -2755054595179788025    669963914226713103 -2085090680953074923      0
998  -3220237911566750251   1530680250441555107 -1689557661125195145      0
999   2618243538736035941   1441111373721703936  4059354912457739878      0

[716 rows x 4 columns]

                    DUT              Expected  Delta
5   5381969316819484562   5381969316819484561      1
6  -1403190967031704508  -1403190967031704509      1
7   1129074143313393758   1129074143313393757      1
8   5475936417452447856   5475936417452447855      1
10  1836525061174867288   1836525061174867287      1

Delta
-1    223
 0    284
 1    493
Name: DUT, dtype: int64